html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* Root variables  */

:root {


    /* colors */
    --main-text-color: #F4F6FF;
    --main-bg-color: #10375C;
    --main-accent-color: #EB8317;
    --main-body-color: #dcdee6;

    /* secundary color */
    --secundary-accent-color: #F3C623;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--main-body-color);

}

.display {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding-right: 34px;
}

.display-text {
    font-size: 1.5rem;
}

.container {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 45px 13px rgba(0, 0, 0, 0.32);
    -moz-box-shadow: 0px 0px 45px 13px rgba(0, 0, 0, 0.32);
    box-shadow: 0px 0px 45px 13px rgba(0, 0, 0, 0.32);
}

.row-container {
    flex: 1;
    display: flex;
    justify-content: space-around;
}

.row-container button {
    flex: 1;
}

button {
    background-color: var(--main-text-color);
    border: none;
    color: var(--main-bg-color);
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: var(--main-body-color);
}

button:active {
    background-color: var(--main-accent-color);
}

.hint {
    opacity: 0.7;
    font-weight: bold;
}